.dropdownMenu {
  position: absolute;
  left: 0;
  top: calc(100% + 1.25rem);
  width: 250px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  pointer-events: none;
  transform: translateY(-15px);
}

.dropdownMenu.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
