.form {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin-top: 32px;
}

@media screen and (max-width: 1024px) {
  .form {
    grid-template-columns: 1fr;
  }
}
