$gradientColor1: #0ea5e9;
$gradientColor2: #3b82f6;
$gradientColor3: #2563eb;

.animatedWording {
  background-image: linear-gradient(
                  45deg,
                  $gradientColor1,
                  $gradientColor2,
                  $gradientColor3,
  );
  line-height: 5rem;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400%;
  background-position: -100%;
  animation: animatedText 3s infinite alternate;
  text-align: center;
}

@keyframes animatedText {
  from {
    background-position: 0;
  }

  to {
    background-position: 100%;
  }
}

@media screen and (max-width: 768px) {
  .animatedWording {
    line-height: 3rem;
  }
}
