.container {
  width: 100%;
  height: 100vh;
  background-color: black;
  font-family: "Calibri Light", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;

    .imgWrapper {
      position: relative;

      .pfp {
        border-radius: 50%;
        margin-bottom: 24px;
        object-fit: cover;
      }

      .arg {
        border-radius: 10px;
        position: absolute;
        right: 65px;
        top: 15px;
      }
    }


    .name {
      color: white;
      font-size: 40px;
    }
  }

  .intro {
    max-width: 1024px;
    text-align: center;
    font-family: 'Inter', sans-serif;

    .name {
      font-weight: 800;
      font-size: 48px;
      background: linear-gradient(90deg, #4480A6 0%, #60A4DF 23%, rgba(0, 212, 255, 1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 6px;
    }

    .career {
      font-size: 19px;
      color: #FFFFFF;
      font-weight: 200;
    }

  }
}
