.person {
  position: relative;
  max-width: 12rem;
}

.personContainer {
  aspect-ratio: 1 / 1.05;
  display: grid;
  align-items: end;
  border-radius: 0 0 100vw 100vw;
  overflow: hidden;
  transition: transform 250ms ease;

  &:hover {
    transform: scale(1.05);
  }
}

.circleImg {
  aspect-ratio: 1 / 1;
  inset: auto 0 0;
  position: absolute;
  object-fit: cover;
  margin-inline: auto;
  border-radius: 50%;
}

.personImg {
  aspect-ratio: 1 / 1;
  position: relative;
  left: 0.4rem;
  bottom: -0.6rem;
  z-index: 2;
  transform: scale(1.05) translateY(-0.8rem);
  transition: transform 300ms ease;
}

@media screen and (max-width: 480px) {
  .person {
    position: relative;
    max-width: 10rem;
  }
}
