$gradientColor1: #0ea5e9;
$gradientColor2: #3b82f6;
$gradientColor3: #2563eb;

.animatedWording {
  background-image: linear-gradient(
                  45deg,
                  $gradientColor1,
                  $gradientColor2,
                  $gradientColor3,
  );
  line-height: 5rem;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400%;
  background-position: -100%;
  animation: animatedText 3s infinite alternate, animateDown 400ms;
  text-align: center;
}

.pfp {
  object-fit: cover;
  border-radius: 50%;
  transition: scale 200ms ease-in-out;
  box-shadow: 7px 6px 65px -2px rgba(28, 46, 79, 0.7);
  -webkit-box-shadow: 7px 6px 65px -2px rgba(28, 46, 79, 0.7);
  -moz-box-shadow: 7px 6px 65px -2px rgba(28, 46, 79, 0.7);
  animation: animateDown 400ms;

  &:hover {
    scale: 1.05;
  }
}

.animatedSubtitle {
  animation: animateDown 400ms;
}

@keyframes animateDown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animatedText {
  from {
    background-position: 0;
  }

  to {
    background-position: 100%;
  }
}

@media screen and (max-width: 768px) {
  .animatedWording {
    line-height: 3rem;
  }
}
