.card {
  position: relative;
  width: 100%;
  transition: scale 350ms ease;

  &:after {
    width: 1px;
    height: 80px;
    background: linear-gradient(
                    transparent,
                    #2563eb,
                    transparent
    );
    position: absolute;
    left: -1px;
    content: '';
    top: 65%;
    opacity: 0;
    transition: top 600ms ease, opacity 600ms ease;
  }

  &:hover {
    scale: 1.008;
  }

  &:hover:after {
    top: 25%;
    opacity: 1;
  }
}
